<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "me.ukit.k6jlhkv45.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. k6jlhkv45.ukit.me</name>

    <description>
        Бланк заполнения
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/b523408b73029fa21b35fecc7bccadc4.png" density="ldpi" />
        <icon src="res/android/icon/63bf66d44b27a28f12cc52a033221499.png" density="mdpi" />
        <icon src="res/android/icon/31d0dd1ccd33c761b3c71624bb1c9197.png" density="hdpi" />
        <icon src="res/android/icon/71a121603ba0bb97d881c5fa17711a51.png" density="xhdpi" />
        <icon src="res/android/icon/90e6214e3d97e3890592e77f2d196fdc.png" density="xxhdpi" />
        <icon src="res/android/icon/231532e9b9d7e9214ad23d252ffd4dc2.png" density="xxxhdpi" />

        <splash src="res/android/screen/b33e4bf1ff412d761f230e661ae3b556.png" density="port-hdpi"/>
        <splash src="res/android/screen/9d0a7365e3fe07154c1c7b08639e0f29.png" density="port-ldpi"/>
        <splash src="res/android/screen/b989d2a063fe718e1a13c07371793339.png" density="port-mdpi"/>
        <splash src="res/android/screen/10afd213962e8614f4c60500691d66d9.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/63d98e6ab3936fb84c9c63d9c44f1cf8.png" width="180" height="180" />
        <icon src="res/ios/icon/90b062792a3dad23cbd310862b81739f.png" width="60" height="60" />
        <icon src="res/ios/icon/06b06dc52dcd693f439eb650fca30845.png" width="120" height="120" />
        <icon src="res/ios/icon/89b882c38e34d8954cb3db4f8110de82.png" width="76" height="76" />
        <icon src="res/ios/icon/c4916c54472c0c66a99d087b46a857a4.png" width="152" height="152" />
        <icon src="res/ios/icon/e677b5830d6496b7c5793173036cab84.png" width="57" height="57" />
        <icon src="res/ios/icon/66822a033d22bf097a2f2a364d824b9a.png" width="114" height="114" />
        <icon src="res/ios/icon/3bda037fa545f93071d4d72ef31fd413.png" width="72" height="72" />
        <icon src="res/ios/icon/f88ec4a20dd83129a3a62fa33c1bf51b.png" width="144" height="144" />
        <icon src="res/ios/icon/51c5cc346840cbf68fbbe0382390a00f.png" width="167" height="167" />
        <icon src="res/ios/icon/656681d80931774c5d588ecef9885858.png" width="29" height="29" />
        <icon src="res/ios/icon/f41260087ca1f5152b9fe593c8736f15.png" width="58" height="58" />
        <icon src="res/ios/icon/ec24e4d7b3ed5b3c978b1220232c3d3a.png" width="87" height="87" />
        <icon src="res/ios/icon/c48a54c479d46d1110a1708a3e8d7d8e.png" width="167" height="167" />

        <splash src="res/ios/screen/df9becf4547ba55a0f0382a8a04b8874.png" />
        <splash src="res/ios/screen/d03546fa0293867dd1f1e241ed856e2c.png" />
        <splash src="res/ios/screen/0d4ff48d6be6903ad8a4b24c9b210f1b.png" />
        <splash src="res/ios/screen/5241a315679d01e1682eaadccfc153fd.png" />
        <splash src="res/ios/screen/68eb89bfef96512de19eca33cdca4670.png" />
        <splash src="res/ios/screen/faf10450c24df77048fb5b0bffed8ca5.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/f302b830e3a4b9ad4839651092f57257.png" target="StoreLogo" />
        <icon src="res/windows/icon/ebdc3a7af98fb8ea1f572187d2bbd29e.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/31e82fe8002c45ad54f73ff9a2ccc6e9.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/d539d6deeee5fc96e6c7080fb6b6d874.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/12ef459d841c0ddd4272caae8349705d.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/38027294c002c75064df081f6a885903.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/7504875a16a4fa3767071bc53368ec2a.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/38d48e3e17d07f217fd1aed5336cbd94.png" target="SplashScreen"/>
        <splash src="res/windows/screen/8e224f444459abdd550c7503b144f17a.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>